.custom_send_form {
    width: 100%;
    max-width: 400px;
}

.send_form_field {
    width: 100%;
}

.send_form_field strong {
    display: block;
    margin: 15px 0px 5px 0px;
}

.send_form_field input, .send_form_field textarea {
    height: 45px;
    width: 100%;
    border: 1px #ddd solid;
    padding: 0px 15px;
    border-radius: 2px;
}

.send_form_field textarea {
    height: 100px;
    padding: 15px;
}

.send_form_field_d {
    display: none;
}

.send_form_submit input {
    height: 45px;
    width: 100%;
    padding: 0px 15px;
    border-radius: 2px;
    background: #0b6086;
    color: #ffffff;
    border: none;
    margin-top: 35px;
}

